.form-container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: stretch;*/
    margin-top: 50px;
}
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}
.newcar-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 70%;

}
.carlist{
    width: 100%;
    margin-top: 30px;
}
.carlist-header{
    margin-top: 30px;
    color: #fff;
}
.button-container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 66px;
    margin-top: 30px;
}


@media screen and (max-width: 710px) and (min-width: 380px){
    .login-container{
        margin-top: 0;
    }
}