.form-container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: stretch;*/
    margin-top: 50px;
}


@media screen and (max-width: 710px) and (min-width: 380px){
    .login-container{
        margin-top: 0;
    }
}