.header{
    width: 100%;
    height: 50px;
    background-color: #464d73;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}
