.login-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.MuiInputBase-input-100, .MuiInputBase-input-100:focus{
    color: #fff;
}
.MuiButton-label-30{
    margin: 40px auto 20px auto;
}
.login-span{
    color: #fff;

}