.login-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.social-buttons{
    margin-top: 20px;
}
@media screen and (max-width: 710px) and (min-width: 380px){
    .login-container{
        margin-top: 0;
    }
}