.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin: auto;
   text-align: center;

}

@media screen and (min-width: 380px){
   .App{
      width: 380px;
   }
}
